* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', sans-serif;
}

/* variables et mixin*/

$lightgrey: #F6F6F6;
$black: #101010;
$linearGradient: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);


.preloader {
    position: fixed;
    top:0; left: 0;
    width: 100%;
    height: 100%;
    background-color: $lightgrey;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
   
}
.dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $linearGradient;
    margin: 0 15px;
    opacity: 1;
    animation: loader infinite 0.3s alternate;
}
.dot2 {
    animation-delay: 0.05s;
}
.dot3 {
    animation-delay: 0.1s;
}
@keyframes loader {
    0% {
    
    }
    100% {
        transform: translateY(-30px);
        
    }

}

@keyframes fin-loader {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .preloader {
    opacity: 1; 
    animation-name: fin-loader;
    animation-duration: 2s; 
    animation-delay: 2s; 
    animation-fill-mode: forwards; 
  }


h2 {
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 50px;
    padding-right: 0;
    margin-right: 0;
    
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}



main {
        width: 100%;
        margin: 0;
        padding: 0;
    }

/* tablette */

@media screen and (max-width: 1024px) {

    body {
        max-width: 1024px;
    }

}

@media screen and (min-width: 1025px)  {

    body {
        width: 100%;
        max-width: 1440px;
        padding: 0 50px;
        margin : auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main {
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    section {

        max-width: 1440px;
        display: flex;
        justify-content: center;
    }

    h2 {
        margin-left: 15px;
    }

}
