* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', sans-serif;
}

$lightgrey: #F6F6F6;
$linearGradient: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
$fontFamily: Roboto;



.preloader {
    position: fixed;
    top:0; left: 0;
    width: 100%;
    height: 100%;
    background-color: $lightgrey;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
   
}
.dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $linearGradient;
    margin: 0 15px;
    opacity: 1;
    animation: loader infinite 0.3s alternate;
}
.dot2 {
    animation-delay: 0.05s;
}
.dot3 {
    animation-delay: 0.1s;
}
@keyframes loader {
    0% {
    
    }
    100% {
        transform: translateY(-30px);
        
    }

}

@keyframes fin-loader {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -20;
    }
  }
  
  .preloader {
    opacity: 1; 
    animation-name: fin-loader;
    animation-duration: 2s; 
    animation-delay: 2s; 
    animation-fill-mode: forwards; 
  }

body {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    .container {
        width: 100%;
        overflow-x: hidden;
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
}
@media screen and (min-width: 1025px)  {

    body {
        width: 100%;
        max-width: 1440px;
        margin: auto;

        main {
        max-width: 1440px;
        
    }
}
}