
.fonctionnement {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 23px;
    margin: 0;
    padding-top: 48px;
    padding-left: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;

    .fonctionnement-h2 {
        width: 100%;
        text-align: left;
        font-family: $fontFamily;
    }
    
    .step-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 90%;
    margin-left: 20px;
    margin-right: 0;
    padding-right: 0;



    .step {        
        width: 100%;
        height: 72.4px;
        background-color: $lightgrey;
        border-radius: 20px;
        font-family: $fontFamily;
        font-size: 16px;
        font-weight: 500;
        border: none;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        margin: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: start;
        gap: 10px;

        .i-number {
            color: #7E7E7E;
            margin-left: 20px;
        }
        .step-number {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #9356DC;
            border-radius: 50% ;
            position: absolute;
            top: 26px;
            left: -15px;
            font-family: $fontFamily;
            font-size: 16px;
            font-weight: 500;
            color: white;
        }

    }
}}

@media screen and (min-width: 700px) {
       
    .fonctionnement {    
        width: 100%;    

        .fonctionnement-h2 { 
            padding-left: 20px;
            width: 100%;
            text-align: start;

        }
        
        .step-div {
            width: 99%;
            flex-direction: row;

            .step {
                width: 30%;
            }
        }
}
}
