footer {
    display: flex;
    flex-direction: column;
    padding: 22px 25px 22px 25px;
    background-color: #353535;
    width: auto;
    max-width: 1440px;
    gap:20px;


    .titre-footer {
        font-family: Shrikhand;
        font-weight: 400;
        color: white !important;
        font-size: 1.125rem;
        padding-right: 0;
        width: 100%;
    }
    .footer-txt {
        color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .fa-utensils {
        padding-right: 10px;
        height: 13px;
    }
    .fa-handshake-angle {
        padding-right: 8px;
        height: 13px;
    }
    
    & p {
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 300;
        padding-left: 0;
        width: 100%;
    }
    .bolder {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        gap: 5px;
    }
    .smaller {
        display: flex;
        flex-direction: column;
        gap: 5px;
        a {
        text-decoration: none;
        color: white;
        font-family: Roboto;
        font-weight: 300;
        }
    }
}

/* tablette */

@media screen and (min-width: 700px)  {

   footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
        gap:2%;

        .titre-footer {
            width: 13%;
            margin-left: 5px;
            margin-bottom: 11px;
            color: white;
        }

        .margin-none {
            margin-bottom: 0;
        }

        .footer-txt {
            flex-direction: row;
            justify-content: end;
            text-wrap: nowrap;
            text-align: end;
            width: 80%;
            padding: 0;
            

            gap: 10px;
            .bolder {
                flex-direction: row;
                gap:5px;
            }
            .smaller {
                flex-direction: row;
                gap:10px;
                /*width: 60%;*/
            }
        }
    }
}

     /*

    p {
        width: 30%;
        padding: 0;
    }

    .footer-txt {
        display: flex;
        width: 30%;
        gap: 10px;
        justify-content: flex-end;
        align-items: end;
        /*padding-right: 20px;
        width: auto;
    }

    .bolder {
        display: flex;
        gap: 8px;
        width: 40%;
        justify-content: flex-end;
        padding: 0;
    }

    .smaller {
        display: flex;
        width: 30%;
        gap: 5px;
        padding: 0;
        justify-content: flex-end;
        p {
            width: 40%;
        text-wrap: nowrap;
        }
        a {
            text-decoration: none;
            color: white;
            padding-top: 30px;
        }
    }*/




/*@media screen and (min-width: 1025px) {

    .footer-txt {
        width: 50%;
    }
}*/