/** {box-shadow: 0 0 0 1px red
    inset;}*/

footer {
    display: flex;
    flex-direction: column;
    padding: 22px 25px 22px 25px;
    background-color: #353535;
    width: 100%;
    max-width: 1440px;
    gap:16px;
    z-index: 3;

    .titre-footer {
        font-family: Shrikhand;
        font-weight: 400;
        color: white !important;
        font-size: 1.125rem;
        padding-right: 0;
        width: auto;
    }
    .footer-txt {
        color: white;
        display: flex;
        flex-direction: column;
        width: auto;
        gap: 7px;
        .bolder {
            display: flex;
            flex-direction: column;
            font-weight: 500;
            gap: 7px;
        }
        .smaller {
            display: flex;
            flex-direction: column;
            gap: 7px;
            a {
            text-decoration: none;
            color: white;
            font-family: Roboto;
            font-weight: 300;
            cursor: pointer;
            a:visited {
                font-family: Roboto;
            }
            }
        }
    }
    
    .p-footer {
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 300;
        padding: 0;
        margin: 0;
        width: auto;
    }
    .fa-utensils {
        padding-right: 10px;
        height: 13px;
    }
    .fa-handshake-angle {
        padding-right: 8px;
        height: 13px;
    }
}


@media screen and (min-width: 700px)  {

   footer {
        display: flex;
        flex-direction: row-reverse;
        box-sizing: border-box;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
        gap:2%;

        .titre-footer {
            text-wrap: nowrap;
            width: 13%;
            margin-left: 5px;
            color: white;
            margin-top: -2px;
        }

        .margin-none {
            margin-bottom: 5px;
        }

        .footer-txt {
            flex-direction: row;
            justify-content: end;
            white-space: nowrap;
            text-align: end;
            padding: 0;
            gap: 5%;
            .bolder {
                flex-direction: row;
                gap:5px;
            }
            .smaller {
                flex-direction: row;
                gap:10px;
            }
        }
    }
}

  