* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', sans-serif;
    margin: 0;
    padding :0;
    /*box-sizing: border-box;
    box-shadow: 0 0 0 1px red
    inset;*/

}
$linearGradient: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
$lightgrey: #F6F6F6;
$lightblue: #99E2D0;


header {
    height: 63px;
    }

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.img {
    height: 275px;
    width: 100%;
    img {
        width: 100%;
        object-fit: contain;
    }
    z-index: 0;
}

.menu {
    width: auto;
    background-color: $lightgrey;
    border-radius: 50px 50px 0 0;
    position: relative; top: -100px;
    padding-left: 13px;
    padding-right: 13px;
    z-index: 1;
    .nom-restaurant {
        padding-top: 32px;
        padding-left: 20px;
        margin-bottom: 40px;
        font-family: Shrikhand;
        font-size: 28px;
        font-weight: 400;
        span { 
            margin-left: 30px;
            width: 22px;
            height: 21px;
            position: relative;
            top: 5px;
    
            .coeur-vide {
                    width: 22px;
                    height: 21px;
                    font-size: 28px;
                    font-weight: normal;
                    cursor: pointer;
                    position: absolute;
                    opacity: 1;
                    transition: opacity;
                    &:hover {
                        opacity: 0;
                    }
                    }
    
            .coeur-plein {
                        width: 30px;
                        height: 29px;
                        font-size: 30px;
                        top: -1.2px;
                        left: -1px;
                        background: $linearGradient;
                        background-clip: border-box;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        opacity: 0; 
                        position: absolute;
                        transition: opacity 300ms;
                        &:hover {
                            opacity: 1;
                        }
                        }
        }}
        
    }

section {
    margin-bottom: 40px;
}

.epd {
    padding-top: 40px;
}

section h3 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 5px;
    position: relative;

    &::after {
        content: ""; 
        position: absolute; 
        bottom: 0;
        left: 0px;
        width: 10%; 
        border-bottom: 3px solid #99E2D0;
    }
}

    h4 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        text-align: start;
        margin-left: 20px;
    }
    .plat-card-txt {
        width: 150px;
        display: flex;
        justify-content: space-between;
        width: auto;
        font-family: Roboto ;
        font-style: normal;
        font-size: 15px;
        font-weight: 100;
        margin-left: 20px;
        margin-right: 0;
        height: 69px;
       
        
        }
    
    .description {
        font-family: Roboto;
        font-size: 15px;
        text-align: start;
        flex-wrap: nowrap;
        margin-right: 0;
    }
    .prix {
        font-family: Roboto;
        position: absolute;
        right: 10px;
        text-align: end;
        transition: transform 0.2s ease;
        transform: translateX(0);
        
    }
    


@media screen and (min-width:500px) {
    .menu-section {
        width: 634px;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }
    
}



