.restaurants {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    background-color: #F6F6F6;
    padding-bottom: 68px;
    padding-top: 54px;
  
    .restaurant-h2 {
      font-family: $fontFamily;
      text-align: left;
      padding-left: 20px;

}
}

@media screen and (min-width: 500px) {

      .restaurants {
        gap: 30px;
        padding-top: 30px;

      .card-div {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap !important;
            }
          }

}