.restaurants {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  background-color: #F6F6F6;
  padding-bottom: 68px;
  padding-top: 54px;;
}
.restaurants h2 {
  margin-left: 20px;
  padding-right: 0;
  margin: 0;
}

/* tablette */

@media screen and (min-width: 500px) {

      .restaurants {
        flex-direction: column;
        gap: 30px;
        padding-top: 30px;
      }

      h2 {
        padding-left: 75px;
      }

      .card-div {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap !important;
            }


}