* {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", sans-serif;
  /*box-shadow: 0 0 0 1px red
  inset;*/
}

/* variables et mixin*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  margin: 0 15px;
  opacity: 1;
  animation: loader infinite 0.3s alternate;
}

.dot2 {
  animation-delay: 0.05s;
}

.dot3 {
  animation-delay: 0.1s;
}

@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
@keyframes fin-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -20;
  }
}
.preloader {
  opacity: 1;
  animation-name: fin-loader;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

h2 {
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 0;
  margin-right: 0;
  width: 40%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* tablette */
/*@media screen and (max-width: 1024px) {

    body {
        max-width: 1024px;
    }

}*/
@media screen and (min-width: 1025px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
  }
  section {
    max-width: 1440px;
    display: flex;
    justify-content: center;
  }
  h2 {
    margin-left: 15px;
    width: 60%;
    padding-left: 10px;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 113px;
  width: 100%;
}
header .header__title {
  height: 63px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  align-items: center;
}
header .header__title .header__title--h1 {
  font-family: Shrikhand;
  font-size: 1.875rem;
  font-weight: 400;
  height: auto;
  padding: 0;
  padding-top: 14px;
  margin: 0;
  align-items: center;
}
header .header__icone {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
  padding-top: 0;
}
header .header__icone i {
  padding-right: 17px;
}
header .header__icone p {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  color: #353535;
  padding-top: 15px;
}

/* tablette */
@media screen and (min-width: 500px) {
  header {
    width: 100%;
  }
}
.hero-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  height: 287px;
  padding-top: 0;
  margin-top: 0;
  width: 100%;
  overflow: hidden;
}
.hero-header .hero-header__title {
  width: 73%;
  padding: 0;
  padding-left: 0 !important;
}
.hero-header .hero-header__txt {
  margin: 0;
  padding-bottom: 27px;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 100;
  width: 84%;
}

.hero-header__btn {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.hero-header__btn:active {
  text-decoration: none;
  color: white;
}
.hero-header__btn button {
  border-radius: 1.5625rem;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 218px;
  height: 50px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.hero-header__btn :hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  outline: none;
  text-decoration: none;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  width: 90%;
  margin: 0;
  padding: 0;
  margin-bottom: 68px;
}
.fonctionnement h2 {
  width: 80%;
  padding-left: 40px;
}
.fonctionnement div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 86%;
  margin-left: 20px;
  margin-right: 0;
  padding-right: 0;
}
.fonctionnement div .step {
  width: 100%;
  height: 72.4px;
  background-color: #F6F6F6;
  border-radius: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  border: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
}
.fonctionnement div .step i {
  color: #7E7E7E;
  margin-left: 33px;
}
.fonctionnement div .step div {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  border-radius: 50%;
  position: absolute;
  top: 26px;
  left: -30px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

@media screen and (min-width: 700px) {
  .fonctionnement {
    padding-left: 20px;
  }
  .fonctionnement h2 {
    width: 100%;
    text-align: start;
    padding-left: 20px;
  }
  .fonctionnement div {
    width: 100%;
    flex-direction: row;
    margin-left: 20px;
  }
  .fonctionnement div .step {
    width: 30%;
  }
}
.restaurants {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  background-color: #F6F6F6;
  padding-bottom: 68px;
  padding-top: 54px;
}

.restaurants h2 {
  padding-left: 20px;
  padding-right: 0;
  margin: 0;
}

/* tablette */
@media screen and (min-width: 500px) {
  .restaurants {
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
  }
  .card-div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap !important;
  }
}
.card {
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  height: 251px;
  border-radius: 15px;
  width: 92.27%;
  margin-left: 17px;
  margin-right: 18px;
  margin-bottom: 18px;
}
.card a {
  text-decoration: none;
  color: black;
}
.card a:visited {
  text-decoration: none;
  color: black;
}
.card .img-new {
  width: 100%;
  position: relative;
}
.card .img-new::after {
  content: "Nouveau";
  padding: 5px 10px 5px 10px;
  display: flex;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto";
  color: #008766;
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 1;
  border-radius: 2px;
  background: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
.card img {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
  position: relative;
  z-index: 0;
}
.card .card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 13px;
  font-family: Roboto;
}
.card .card-info .card-info {
  display: flex;
}
.card .card-info .card-txt {
  gap: 5px;
  padding-top: 10px;
}
.card .card-info .icone-coeur {
  width: 22px;
  height: 21px;
  position: relative;
  left: -8px;
  top: 15px;
}
.card .card-info .coeur-vide {
  width: 22px;
  height: 21px;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
  position: absolute;
  opacity: 1;
  transition: opacity;
}
.card .card-info .coeur-vide:hover {
  opacity: 0;
}
.card .card-info .coeur-plein {
  width: 22px;
  height: 21px;
  font-size: 22px;
  top: -1.4px;
  left: -1px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  position: absolute;
  transition: opacity 300ms;
}
.card .card-info .coeur-plein:hover {
  opacity: 1;
}
.card h3 {
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 700;
  height: 20px;
  margin: 0;
}
.card p {
  font-family: Roboto;
  font-size: 1.0625rem;
  font-weight: 300;
  height: 24px;
  margin: 0;
}

/* tablette */
@media screen and (min-width: 500px) {
  .card {
    width: 40%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px 22px 25px;
  background-color: #353535;
  width: auto;
  max-width: 1440px;
  gap: 20px;
}
footer .titre-footer {
  font-family: Shrikhand;
  font-weight: 400;
  color: white !important;
  font-size: 1.125rem;
  padding-right: 0;
  width: 100%;
}
footer .footer-txt {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
footer .fa-utensils {
  padding-right: 10px;
  height: 13px;
}
footer .fa-handshake-angle {
  padding-right: 8px;
  height: 13px;
}
footer p {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
  padding-left: 0;
  width: 100%;
}
footer .bolder {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 5px;
}
footer .smaller {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .smaller a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-weight: 300;
}

/* tablette */
@media screen and (min-width: 700px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    gap: 2%;
  }
  footer .titre-footer {
    width: 13%;
    margin-left: 5px;
    margin-bottom: 11px;
    color: white;
  }
  footer .margin-none {
    margin-bottom: 0;
  }
  footer .footer-txt {
    flex-direction: row;
    justify-content: end;
    text-wrap: nowrap;
    text-align: end;
    width: 80%;
    padding: 0;
    gap: 10px;
  }
  footer .footer-txt .bolder {
    flex-direction: row;
    gap: 5px;
  }
  footer .footer-txt .smaller {
    flex-direction: row;
    gap: 10px;
    /*width: 60%;*/
  }
}
/*

p {
    width: 30%;
    padding: 0;
}

.footer-txt {
    display: flex;
    width: 30%;
    gap: 10px;
    justify-content: flex-end;
    align-items: end;
    /*padding-right: 20px;
    width: auto;
}

.bolder {
    display: flex;
    gap: 8px;
    width: 40%;
    justify-content: flex-end;
    padding: 0;
}

.smaller {
    display: flex;
    width: 30%;
    gap: 5px;
    padding: 0;
    justify-content: flex-end;
    p {
        width: 40%;
    text-wrap: nowrap;
    }
    a {
        text-decoration: none;
        color: white;
        padding-top: 30px;
    }
}*/
/*@media screen and (min-width: 1025px) {

    .footer-txt {
        width: 50%;
    }
}*/

/*# sourceMappingURL=index.css.map */
