@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*box-shadow: 0 0 0 1px red
  inset;*/
}

header {
  height: 63px;
}
header .header__title {
  position: relative;
}
header .header__title .fa-arrow-left {
  position: absolute;
  left: 17px;
  top: 20px;
  size: 30px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  width: 100%;
}

.img {
  height: 275px;
  width: 100%;
  z-index: 0;
}
.img img {
  height: 275px;
  width: 100%;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  position: relative;
  top: -100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  margin-bottom: -100px;
  z-index: 1;
}
.menu .nom-restaurant {
  padding-top: 32px;
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  text-align: start;
  text-wrap: nowrap;
  width: 80%;
}
.menu .nom-restaurant span {
  margin-left: 30px;
  width: 22px;
  height: 21px;
  position: relative;
  top: 5px;
}
.menu .nom-restaurant span .coeur-vide {
  width: 22px;
  height: 21px;
  font-size: 28px;
  font-weight: normal;
  cursor: pointer;
  position: absolute;
  opacity: 1;
  transition: opacity;
}
.menu .nom-restaurant span .coeur-vide:hover {
  opacity: 0;
}
.menu .nom-restaurant span .coeur-plein {
  width: 30px;
  height: 29px;
  font-size: 30px;
  top: -1.2px;
  left: -1px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  position: absolute;
  transition: opacity 300ms;
}
.menu .nom-restaurant span .coeur-plein:hover {
  opacity: 1;
}

section {
  width: 95%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
section .titre-epd {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 5px;
  position: relative;
}
section .titre-epd::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 10%;
  border-bottom: 3px solid #99E2D0;
}
section .epd {
  padding-top: 40px;
}

h4 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  text-align: start;
  margin-left: 20px;
}

.plat-card-txt {
  width: 150px;
  display: flex;
  justify-content: space-between;
  width: auto;
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
  font-weight: 100;
  margin-left: 20px;
  margin-right: 0;
  height: 69px;
}

.description {
  font-family: Roboto;
  font-size: 15px;
  text-align: start;
  flex-wrap: nowrap;
  margin-right: 0;
}

.prix {
  font-family: Roboto;
  position: absolute;
  right: 10px;
  text-align: end;
  transition: transform 0.2s ease;
  transform: translateX(0);
}

@media screen and (min-width: 700px) {
  body {
    width: 100%;
  }
  main {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .img img {
    height: 393.66px;
  }
  .menu {
    width: 80%;
    top: 50px;
    margin-bottom: 50px;
  }
}
/*.menu {
        width: 70%;
        top:-20px;
    }

    .menu-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-between;

    }

}*/
* {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", sans-serif;
  /*box-shadow: 0 0 0 1px red
  inset;*/
}

/* variables et mixin*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  margin: 0 15px;
  opacity: 1;
  animation: loader infinite 0.3s alternate;
}

.dot2 {
  animation-delay: 0.05s;
}

.dot3 {
  animation-delay: 0.1s;
}

@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
@keyframes fin-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -20;
  }
}
.preloader {
  opacity: 1;
  animation-name: fin-loader;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

h2 {
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 0;
  margin-right: 0;
  width: 40%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* tablette */
/*@media screen and (max-width: 1024px) {

    body {
        max-width: 1024px;
    }

}*/
@media screen and (min-width: 1025px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
  }
  section {
    max-width: 1440px;
    display: flex;
    justify-content: center;
  }
  h2 {
    margin-left: 15px;
    width: 60%;
    padding-left: 10px;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 113px;
  width: 100%;
}
header .header__title {
  height: 63px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  align-items: center;
}
header .header__title .header__title--h1 {
  font-family: Shrikhand;
  font-size: 1.875rem;
  font-weight: 400;
  height: auto;
  padding: 0;
  padding-top: 14px;
  margin: 0;
  align-items: center;
}
header .header__icone {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
  padding-top: 0;
}
header .header__icone i {
  padding-right: 17px;
}
header .header__icone p {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  color: #353535;
  padding-top: 15px;
}

/* tablette */
@media screen and (min-width: 500px) {
  header {
    width: 100%;
  }
}
.hero-header__btn {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.hero-header__btn:active {
  text-decoration: none;
  color: white;
}
.hero-header__btn button {
  border-radius: 1.5625rem;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 218px;
  height: 50px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.hero-header__btn :hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  outline: none;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px 22px 25px;
  background-color: #353535;
  width: auto;
  max-width: 1440px;
  gap: 20px;
}
footer .titre-footer {
  font-family: Shrikhand;
  font-weight: 400;
  color: white !important;
  font-size: 1.125rem;
  padding-right: 0;
  width: 100%;
}
footer .footer-txt {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
footer .fa-utensils {
  padding-right: 10px;
  height: 13px;
}
footer .fa-handshake-angle {
  padding-right: 8px;
  height: 13px;
}
footer p {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
  padding-left: 0;
  width: 100%;
}
footer .bolder {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 5px;
}
footer .smaller {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .smaller a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-weight: 300;
}

/* tablette */
@media screen and (min-width: 700px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    gap: 2%;
  }
  footer .titre-footer {
    width: 13%;
    margin-left: 5px;
    margin-bottom: 11px;
    color: white;
  }
  footer .margin-none {
    margin-bottom: 0;
  }
  footer .footer-txt {
    flex-direction: row;
    justify-content: end;
    text-wrap: nowrap;
    text-align: end;
    width: 80%;
    padding: 0;
    gap: 10px;
  }
  footer .footer-txt .bolder {
    flex-direction: row;
    gap: 5px;
  }
  footer .footer-txt .smaller {
    flex-direction: row;
    gap: 10px;
    /*width: 60%;*/
  }
}
/*

p {
    width: 30%;
    padding: 0;
}

.footer-txt {
    display: flex;
    width: 30%;
    gap: 10px;
    justify-content: flex-end;
    align-items: end;
    /*padding-right: 20px;
    width: auto;
}

.bolder {
    display: flex;
    gap: 8px;
    width: 40%;
    justify-content: flex-end;
    padding: 0;
}

.smaller {
    display: flex;
    width: 30%;
    gap: 5px;
    padding: 0;
    justify-content: flex-end;
    p {
        width: 40%;
    text-wrap: nowrap;
    }
    a {
        text-decoration: none;
        color: white;
        padding-top: 30px;
    }
}*/
/*@media screen and (min-width: 1025px) {

    .footer-txt {
        width: 50%;
    }
}*/
* {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*box-shadow: 0 0 0 1px red
  inset;*/
}

header {
  height: 63px;
}
header .header__title {
  position: relative;
}
header .header__title .fa-arrow-left {
  position: absolute;
  left: 17px;
  top: 20px;
  size: 30px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  width: 100%;
}

.img {
  height: 275px;
  width: 100%;
  z-index: 0;
}
.img img {
  height: 275px;
  width: 100%;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  position: relative;
  top: -100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  margin-bottom: -100px;
  z-index: 1;
}
.menu .nom-restaurant {
  padding-top: 32px;
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  text-align: start;
  text-wrap: nowrap;
  width: 80%;
}
.menu .nom-restaurant span {
  margin-left: 30px;
  width: 22px;
  height: 21px;
  position: relative;
  top: 5px;
}
.menu .nom-restaurant span .coeur-vide {
  width: 22px;
  height: 21px;
  font-size: 28px;
  font-weight: normal;
  cursor: pointer;
  position: absolute;
  opacity: 1;
  transition: opacity;
}
.menu .nom-restaurant span .coeur-vide:hover {
  opacity: 0;
}
.menu .nom-restaurant span .coeur-plein {
  width: 30px;
  height: 29px;
  font-size: 30px;
  top: -1.2px;
  left: -1px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  position: absolute;
  transition: opacity 300ms;
}
.menu .nom-restaurant span .coeur-plein:hover {
  opacity: 1;
}

section {
  width: 95%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
section .titre-epd {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 5px;
  position: relative;
}
section .titre-epd::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 10%;
  border-bottom: 3px solid #99E2D0;
}
section .epd {
  padding-top: 40px;
}

h4 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  text-align: start;
  margin-left: 20px;
}

.plat-card-txt {
  width: 150px;
  display: flex;
  justify-content: space-between;
  width: auto;
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
  font-weight: 100;
  margin-left: 20px;
  margin-right: 0;
  height: 69px;
}

.description {
  font-family: Roboto;
  font-size: 15px;
  text-align: start;
  flex-wrap: nowrap;
  margin-right: 0;
}

.prix {
  font-family: Roboto;
  position: absolute;
  right: 10px;
  text-align: end;
  transition: transform 0.2s ease;
  transform: translateX(0);
}

@media screen and (min-width: 700px) {
  body {
    width: 100%;
  }
  main {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .img img {
    height: 393.66px;
  }
  .menu {
    width: 80%;
    top: 50px;
    margin-bottom: 50px;
  }
}
/*.menu {
        width: 70%;
        top:-20px;
    }

    .menu-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-between;

    }

}*/
.defil {
  opacity: 0; /* Masque les éléments au départ */
  animation: fadeIn 0.5s ease forwards; /* Utilisez l'animation fadeIn */
}

.defil-animation .defil:nth-child(1) {
  animation-delay: 0.5s; /* Délai pour le premier élément (1 seconde) */
}

.defil-animation .defil:nth-child(2) {
  animation-delay: 1.5s; /* Délai pour le deuxième élément (2 secondes) */
}

.defil-animation .defil:nth-child(3) {
  animation-delay: 2.5s; /* Délai pour le troisième élément (3 secondes) */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.choix-repas {
  width: 100%;
  padding: 15px;
  height: 69px;
  margin-top: 12px;
  border: none;
  text-align: left;
  border-radius: 15.043px;
  display: inline-block;
  background-color: #FFF;
  cursor: pointer;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  font-family: "Roboto";
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s linear 0s;
}
.choix-repas:focus {
  outline: none;
  text-indent: 60px;
}
.choix-repas::before {
  content: "\f058";
  font-family: FontAwesome;
  color: white;
  background-color: #99E2D0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -60px;
  width: 60px;
  height: 100%;
  transition: all 0.2s linear 0s;
  text-align: end;
}
.choix-repas:focus {
  text-indent: 0px;
}
.choix-repas:focus::before {
  right: 0;
  text-indent: 0px;
}
.choix-repas:focus .prix {
  transform: translateX(-250%);
}
.choix-repas:focus .reduire-click {
  width: 70%;
}
.choix-repas .reduire-click {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: width 0.2s ease;
}

/*# sourceMappingURL=page-restaurant.css.map */
